.letras1 {
	text-align: center;
	text-align: left;
	font-size: 20px;
	table-layout: fixed;
	width: 60%;
	font-weight: bold;
	font-family:Arial, Helvetica, sans-serif;
}
.cool-gray {
	color: #8C92AC;
}
.warm-gray {
	color: #D3D3D3;
}
.amber {
	color: #FFBF00 ;
}
.green {
	color: green ;
}
.cyan {
	color: cyan ;
}
.red {
	color: red ;
}
.yellow{
	color: yellow ;
}
.emerald{
	color: #50C878;
}
.sky{
	color: #87ceeb;
}
.orange{
	color: orange;
}
.lime{
	color: lime;
}
.teal{
	color: teal;
}
.fuchsia {
	color: fuchsia;
}
.pink{
	color: pink;
}
.rose{
	color: f29cb7;
}
.blue-gray{
	color: blue gray;
}
.purple{
	color: purple;
}
.violet{
	color: violet;
}
.indigo{
	color: indigo;
}
.blue{
	color: blue;
}